:root {
  /* COLOR */
  --primary-black-100: rgb(0, 0, 0);
  --primary-marel-blue-10: rgb(230, 236, 241);
  --primary-marel-blue-100: rgb(0, 58, 112);
  --primary-marel-blue-20: rgb(204, 216, 226);
  --primary-marel-blue-40: rgb(153, 176, 198);
  --primary-marel-blue-60: rgb(102, 137, 169);
  --primary-marel-blue-80: rgb(51, 97, 141);
  --primary-marel-red-10: rgb(252, 234, 233);
  --primary-marel-red-100: rgb(218, 41, 28);
  --primary-marel-red-20: rgb(248, 212, 210);
  --primary-marel-red-40: rgb(240, 169, 164);
  --primary-marel-red-60: rgb(233, 127, 119);
  --primary-marel-red-80: rgb(225, 84, 73);
  --primary-white-100: rgb(255, 255, 255);
  --secondary-cold-grey-10: rgb(243, 244, 245);
  --secondary-cold-grey-100: rgb(128, 138, 148);
  --secondary-cold-grey-20: rgb(230, 232, 234);
  --secondary-cold-grey-40: rgb(204, 208, 212);
  --secondary-cold-grey-60: rgb(179, 185, 191);
  --secondary-cold-grey-80: rgb(153, 161, 169);
  --secondary-green-10: rgb(230, 247, 238);
  --secondary-green-100: rgb(0, 169, 79);
  --secondary-green-20: rgb(204, 238, 220);
  --secondary-green-40: rgb(153, 221, 185);
  --secondary-green-60: rgb(102, 203, 149);
  --secondary-green-80: rgb(51, 186, 114);
  --secondary-light-blue-10: rgb(230, 247, 253);
  --secondary-light-blue-100: rgb(0, 170, 230);
  --secondary-light-blue-20: rgb(204, 238, 250);
  --secondary-light-blue-40: rgb(153, 221, 245);
  --secondary-light-blue-60: rgb(102, 204, 240);
  --secondary-light-blue-80: rgb(51, 187, 235);
  --secondary-marel-dark-blue-100: rgb(0, 39, 88);
  --secondary-middle-blue-10: rgb(230, 241, 249);
  --secondary-middle-blue-100: rgb(0, 113, 188);
  --secondary-middle-blue-20: rgb(204, 227, 242);
  --secondary-middle-blue-40: rgb(153, 198, 228);
  --secondary-middle-blue-60: rgb(102, 170, 215);
  --secondary-middle-blue-80: rgb(51, 141, 201);
  --secondary-orange-10: rgb(254, 242, 230);
  --secondary-orange-100: rgb(239, 125, 0);
  --secondary-orange-20: rgb(252, 229, 204);
  --secondary-orange-40: rgb(249, 203, 153);
  --secondary-orange-60: rgb(245, 177, 102);
  --secondary-orange-80: rgb(242, 151, 51);
  --secondary-yellow-10: rgb(255, 248, 232);
  --secondary-yellow-100: rgb(254, 184, 18);
  --secondary-yellow-20: rgb(255, 241, 208);
  --secondary-yellow-40: rgb(255, 227, 160);
  --secondary-yellow-60: rgb(254, 212, 113);
  --secondary-yellow-80: rgb(254, 198, 65);
  --tertiary-secret-grey: rgb(248, 249, 251);
}
